
	{{ form_start(form) }}
    {{ form_row(form.name) }}

    <button type="submit">Register!</button>
{{ form_end(form) }}

	<script type="text/javascript" src = "{{ asset('/js/start.js') }}"></script>
