{% extends "base.html.twig" %}

{% block body %}
	<div class = "container start">
		<div class="jumbotron">
        <h1>Começar o jogo</h1><br />
        <p>Você está prestes a iniciar o jogo! :)</p>
        <div class = "form-wrap">
			{{ form_start(form, {'attr': {'class': 'start-form'}}) }}
				{{ form_widget(form) }}
			{{ form_end(form) }}
        </div>
      </div>
	</div>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src = "{{ asset('/js/start.js') }}"></script>
{% endblock %}