{% extends "base.html.twig" %}

{% block body %}
<div class = "container contact">
	<h1 class = "page-header">Como jogar?</h1>
	<p>Gostou do jogo mas não entendeu muito bem nossa proposta?</p>
	<p>Não se preocupe, aqui nós vamos te dar um passo-a-passo de como uma partida funciona!</p>

	<div class = "jumbotron">
		<p>Aqui vai um tutorial passo a passo com fotos da tela do jogo e regras que será implementado assim que o desenvolvimento for concluído</p>
	</div>
</div>
{% endblock %}