{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

      <h1>Divirta-se!</h1>
      <p>O jogo do milhão é uma maneira divertida de aprender um conteúdo que você nunca vai usar na sua vida!</p>
      <p>Convide seus colegas para participarem dessa ridícula atividade com você!</p>

      <div class = "game-wrap">

      </div>

    </div> <!-- /container -->
{% endblock %}