{% extends 'base.html.twig' %}

{% block body %}
    <div class="container index">

      <h1 class = "page-header">Seja bem vindo ao jogo do conhecimento!</h1>
      <br />
      <a href = "/comecarjogo"><div class="btn btn-primary btn-lg" id="game-start-btn">Cique aqui para jogar</div></a>

      <div class = "game-wrap">

      </div>

    </div> <!-- /container -->
{% endblock %}