{% extends 'base.html.twig' %}

{% block body %}
    <div class="container index">

      <h1 class = "page-header">Seja bem vindo!</h1>
      <p>O jogo do milhão é uma maneira divertida de aprender e interagir com seus colegas de classe. :)</p>
      <p>Convide seus colegas para participarem dessa atividade com você!</p>
      <br />
      <a href = "/comecarjogo"><div class="btn btn-primary btn-lg" id="game-start-btn">Cique aqui para jogar</div></a>

      <div class = "game-wrap">

      </div>

    </div> <!-- /container -->
{% endblock %}