{% extends "base.html.twig" %}

{% block body %}
<div class = "container ranking">
	<h1 class = "page-header">Ranking</h1>
	<div class = "row">
		<div class = "col-sm-5 col-md-6">
			<p>Quem foi melhor? Você ou seu colega? Descubra aqui! </p>
			<p class = "scnd">Veja quem acertou mais respostas no geral ou em partidas individuais.</p>
			<ul class="list-group"> 
				<li class = "list-group-item"><b>Ranking Geral</b></li>
				{% for gamePlayer in gamePlayers %}
					<li class="list-group-item"> <span class="badge">{{gamePlayer.points}}</span> <b>{{loop.index}}º</b> - {{gamePlayer.player.nickname}} </li> 
				{% endfor %}
			</ul>
		</div>
		<div class = "col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">
			<p>Digite o ID da partida desejada para exibir seu resultado.</p>
			<div class = "game-search-wrap">
				<div class="input-group"> <input type="text" class="form-control" id = "game-id" placeholder="Pesquisar..."> <span class="input-group-btn"> <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></button> </span> </div>
			</div>
			<div class = "game-ranking-wrap"></div>
		</div>
	</div>
	<!-- <p><a href = "#">Clique aqui para ver o ranking completo.</a></p> -->
</div>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src = "{{ asset('/js/ranking.js') }}"></script>
{% endblock %}