<ul class="list-group"> 
	<li class = "list-group-item"><b>Ranking da partida</b></li>
	{% for gamePlayer in gamePlayers %}
	<li class="list-group-item"> <span class="badge">{{gamePlayer.points}}</span> <b>{{loop.index}}ยบ</b> - {{gamePlayer.player.nickname}} </li> 
	{% endfor %}
</ul> 